<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Description:</b>
  <%= @ingredient.description %>
</p>

<p>
  <b>Parent:</b>
  <%= @ingredient.parent_id %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'List', ingredients_path %>
