<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="page">
      <div id="sidebar">
<% if (@curr_user.nil?) then %>
		<ol class="row up_t">
              <li><%= link_to 'Register', new_account_path %></li>
              <li class="last"><%= link_to 'Login', login_page_path %></li>
        </ol>
<% end %>
        <ul id="sidebar-items">
          <li>
            <h3>Have a look</h3>
            <ul class="links">
              <li><%= link_to 'Recipes', recipes_path %></li>
              <li><%= link_to 'Ingredients', ingredients_path %></li>
<% if (@curr_user) then %>
              <li><%= link_to 'Cooks', accounts_path %></li>
<% end %>
            </ul>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>Cookbook</h1>
          <h2>Wrangle your Recipes</h2>
        </div>

        <div id="getting-started">
<%= yield %>
        </div>
      </div>

      <div id="footer">&nbsp;</div>
    </div>
</body>
</html>
