<%= javascript_include_tag('rsa/jsbn', 'rsa/prng4', 'rsa/rng', 'rsa/rsa', 'rsa/base64', 'encrypt') %>
<script type="text/javascript">
$(document).ready(function() {
	$("input#login_username").change(function() {
		if( $("input#account_name").val().trim() == '' ) {
			$("input#account_name").val($("input#login_username").val());
		}
	});
    $("form#new_account").submit(function() {
    try {
//    	var ptn_username = /^[a-zA-Z0-9\-_]+$/;					// Need a better Regex
    	var ptn_username = /[a-zA-Z0-9]+/;						// at least one character
    	// Validate
    	var ctrl_username = $("input[name='login[username]']");
//    	alert("UName: "+ ctrl_username +"\nVAL='"+ ctrl_username.val() +"'");

    	pwds_match		= ($('#password').val() == $('#confirm_password').val());
    	name_notblank	= ptn_username.test( ctrl_username.val() );
    			
//    	alert( "pwds match?="+ pwds_match +
//    			"\nname ok?="+ name_notblank );
		var is_valid = pwds_match && name_notblank;
		
		// Give visual cues
		if(pwds_match) {
			$('#password').removeClass('error');
			$('#confirm_password').removeClass('error');
		} else {
			$('#password').addClass('error')
			$('#confirm_password').addClass('error')
		}
		if(name_notblank) {
			$("input[name='login[username]']").removeClass('error');
		} else {
			$("input[name='login[username]']").addClass('error');
		}
		
		if(is_valid) {
//			alert('YES');
			encrypt();
			return true;
		}
//		alert('NO!');
		return false;

	} catch (ee) {
		alert('CODE FAIL: '+ ee);
		return false;
	}
	});
});
</script>
<%= form_for(@account, :html => {:id => 'new_account'}) do |f| %>
  <% if (@account.errors.any?() || @login.errors.any?()) %>
    <div id="error_explanation">
      <h2><%= pluralize((@account.errors.count+@login.errors.count), "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render :partial => '/logins/fields_divs', :locals => {:login_obj => @account.login } %>

  <div class="field">
    <%= f.label :name, 'Nickname' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language %>: <%= @account.language %>
    <%= f.hidden_field :language %>
  </div>
  <div class="field">
    <%= f.label :location_state, 'State' %><br />
    <%= f.text_field :location_state %>
  </div>
  <div class="field">
    <%= f.label :location_country, 'Country' %>: <%= @account.location_country %>
    <%= f.hidden_field :location_country %>
  </div>
  <div class="field">
    <%= f.label :background %><br />
    <%= f.text_area :background, :cols => 56, :rows => 6 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= render '/logins/extra_fields' %>
